extends layout

block content
  h1 #{page.title}
  hr
  a(href="/books/new", class="button new") Create New Book 

  table 
    tr 
      th Title 
      th Author 
      th Genre 
      th Year
    each book in page.books 
      tr 
        td #{book.title}
        td #{book.author}
        td #{book.genre}
        td #{book.year}

