extends layout

block content
  h1 #{title}
  hr
  a(href="/books/new", class="button new") Create New Book 
  include home
  include form-errors
  form(action="/search", method="post", class="search") 
    input(type="text", name="search", class="search", placeholder='Title: "name" ^ Author: "name"')
    button(type="submit", class="search") Search
  table 
    tr 
      th Title 
      th Author 
      th Genre 
      th Year
    each book in books 
      tr 
        td 
          a(href=`/books/${book.id}`) #{book.title} 
        td #{book.author}
        td #{book.genre}
        td #{book.year}
  include pagination


